$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
/* Component SASS */
/* Add Component SASS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
@font-face {
    font-family: 'tragic-marker';
    src: url('../fonts/TragicMarker.otf');
    font-weight: bold;
}
@mixin flex_row(){
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
}

$col-gray: #79758E;
$col-purple: #443F5D;
$col-light: #0000FF;

.container{
    #search-widget-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
        width: 100%; 
        background: $col-purple;
    }   
    #search-widget-form .search-input {
            padding-right: 3px;
            padding-top: 10px;
            padding-left: 3px;            
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            width: 88%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $col-gray;
            background: transparent;
            color: $col-gray;
            font-size: 30px;
    }
    #search-widget-form button {
            border: 0;
            background: none;
            /** belows styles are working good */
            margin-top: 10px;
            position: relative;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 25px;
            float: left;
            width: 9%;
            color: $col-gray;
    }
    .search-input:focus + button {
            z-index: 3;   
    }
    textarea:focus, input:focus{
        outline: none;
    }
    .search-display-table{
        font-family: "tragic-marker";
        position: absolute;
        display: inline-block;
        width: 96.2%;
        top: 100%;
        .search-display-table-row:nth-child(odd){
            background-color: #F7F7F7;
        }
        .search-display-table-row:nth-child(even){
            background-color: #E8E8E8;
        }
        .search-display-table-row
        {
            padding-left: 3%;
            .item-name-display{
                @include flex_row;
                font-size: 40px;
            }
            .item-other-display{
                @include flex_row;
                font-size: 20px;
                .item-other-cell{
                    i{
                        padding: 5px;
                    }
                    display: table-cell;
                    flex: 2;
                    flex-direction: column;
                    position: relative;
                }
            }
        }
    }
    .search-display-table::after{
        position: absolute;
    }
}
