<div class="container">
	<div class="row">
        <div class="span12 col-lg-8">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" ng-model="enteredText" placeholder="search(Client Name/Policy Number)">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="items search-display-table" ng-hide="!enteredText.length || selected">
              <div class="item span12 search-display-table-row" ng-repeat="item in $ctrl.dataset | filter:enteredText  track by $index" ng-click="vm.handleSelection(item)" style="cursor:pointer" ng-class="{active:isCurrent($index)}">
                <div class="item-name-display">{{item.name}}</div>
                <div class="item-other-display"><span class="item-other-cell">{{item.phone_num}}</span><span class="item-other-cell">{{item.email}}</span><span class="item-other-cell">{{item.policy_num}}</span></div>
              </div>
            </div>
        </div>    
	</div>
</div>
