@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/core/_neat.scss";

/* Component SASS */
/* Add Component SASS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
@font-face {
    font-family: 'tragic-marker';
    src: url('../font/TragicMarker.otf');
    font-weight: bold;
}

$col-gray: #79758E;
$col-purple: #443F5D;
$col-light: #0000FF;

.container{
    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
        width: 100%; 
        background: $col-purple;
    }   
    #custom-search-form .search-query {
            padding-right: 3px;
            padding-top: 10px;
            padding-left: 3px;            
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
    
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            width: 100%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $col-gray;
            background: transparent;
            line-height: 3;
    }
    #custom-search-form .search-query::-webkit-input-placeholder {
            font-size: 40px;
            color: $col-gray;
    }
    #custom-search-form button {
            border: 0;
            background: none;
            /** belows styles are working good */
            padding: 2px 5px;
            margin-top: 2px;
            position: relative;
            left: -28px;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
    }
    .search-query:focus + button {
            z-index: 3;   
    }

    .search-display-table{
        font-family: "tragic-marker";
        display: table;
        width: 100%;
        .search-display-table-row:nth-child(odd){
            background-color: #F7F7F7;
        }
        .search-display-table-row:nth-child(even){
            background-color: #E8E8E8;
        }
        .search-display-table-row
        {
             display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;
            flex-wrap: no-wrap;
            -webkit-flex-wrap: no-wrap;
            .item-name-display{
                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
                font-size: 40px;
            }
            .item-other-display{
                width: 100%;
                font-size: 20px;
                .item-other-cell{
                    display: table-cell;
                    flex: 1;
                    flex-direction: column;
                    position: relative;
                }
            }
        }
    }
}
